//- --------------------------------
//- HiPew settings
//- --------------------------------

//- This is pace-specific metadata
-
	const page = {
		title: 'Rocketeer NFT', desc: 'Mint your Rocketeer NFT', url: '/',
		published: '2020-02-11', featuredimg: '/assets/mike-kiev-Opzk_hvwO9Q-unsplash.jpg'
	}
//- This is a file with helpers
include pug/_helpers.pug


//- --------------------------------
//- Webpage source code
//- --------------------------------

doctype html
html( lang=content.lang )
	include pug/_header.pug
	body#index
		
		main
			section#hero
				h1 Rocketeer NFT
				h1 30 Oct 2021
				h2 Moon boots touch the earth.<br/>
					| Visored faces tilt upward. <br/>
					| Their sole thought is wen.

				div.row
					a( target='_blank' href='https://mint.rocketeer.fans/' ).button Mint now
					a.button.shadow.invert( href="https://discord.gg/cjW2zw28cP" ) Join Discord
				
				//- p Launching Soon™️
				+rimg.stretch( src=site.system.url+'/assets/draft-rocketeer.png' )
			section#story
				+cimg.circle( size=200 src=site.system.url+'/assets/draft-rocketeer.png' )
				p Until minted, each Rocketeer exists in a quantum superposition of many possible identities. They are each unique, but share a foundational desire to reach the moon.
				div.row
					a( target='_blank' href='https://mint.rocketeer.fans/' ).button Mint now
					//- a( target='_blank' href='' ).button.outline View on Opensea

			section#about
				h1 FAQ

				h2 Wen mint?
				p Minting will open during our livestream on the 30th of October. 
					| Use <a target="_blank" href="https://dateful.com/eventlink/1846309160"> this link</a> to view what time it is in your local timezone. 
				
				h2 What does a Rocketeer cost?
				p Minting will be free (besides gas costs).

				h2 Which attributes do Rocketeers have?
				p They will have a variety of helmets, visors, suits and backdrops. Each with multiple color options.

				h2 Do Rocketeers have utility?
				p Right now they are just collectibles, but let's just say that when two Rocketeers love each other very much, they sometimes make little Rocketeers...

				h2 How random are Rocketeers?
				p The attributes have weighted probabilities. Upon mint a random number generator probablistically determines the attributes.

				h2 What inspired the Rocketeer NFT?
				p The undying patience and excited optimism of the Rocket Pool and ETH2 staking communites.

				h2 What media are available for the Rocketeers?
				p Each Rocketeer have a scalable vector file so you can use the art on any size medium. We will also supply jpegs so you can easily use them for your online identities.


			section#community
				h1 Community
				p Join us for questions, conversations, and suggestions.
				a( href="https://discord.gg/mXHe2BYG" )
					img( width=100 height=100 src="/assets/discord-logo-black.svg" )
				a( href="https://discord.gg/mXHe2BYG" ).button.outline Join on Discord

			section#credits
				h1 Acknowledgements

				div.row.usps
					div.usp
						+cimg.circle( size=200 src=site.system.url+'/assets/draft-rocketeer.png' )
						p NFT design components by unvetica.eth and team.
					div.usp
						+cimg.circle( size=200 src=site.system.url+'/assets/draft-rocketeer.png' )
						p Contract, frontend and API code by mentor.eth.
					div.usp
						+cimg.circle( size=200 src=site.system.url+'/assets/draft-rocketeer.png' )
						p Logistical support by Discord users LookingForOwls and colfax.
				//- p.sidenote Website media: Photos taken by Mike Kiev and Adam Miller. Illustrations by Katerina Limpitsouni.


			

		include pug/_footer.pug