//- --------------------------------
//- HiPew settings
//- --------------------------------

//- This is pace-specific metadata
-
	const page = {
		title: 'Rocketeer NFT', desc: 'Mint your Rocketeer NFT', url: '/',
		published: '2020-02-11', featuredimg: '/assets/mike-kiev-Opzk_hvwO9Q-unsplash.jpg'
	}
//- This is a file with helpers
include pug/_helpers.pug


//- --------------------------------
//- Webpage source code
//- --------------------------------

doctype html
html( lang=content.lang )
	include pug/_header.pug
	body#index
		
		main
			section#hero
				h1 Rocketeer NFT
				h2 The Rocketeers stand.<br/>
					| Moon looms, rocket waits, eyes stare.<br/>
					| The sole thought is wen.
				
				//- p Launching Soon™️
				+rimg.stretch( src=site.system.url+'/assets/mike-kiev-Opzk_hvwO9Q-unsplash.jpg' )
			section#story
				p Until minted, each Rocketeer exists in a superposition of 10,000,000 possible identities. They are each unique, but share a foundational desire to reach the moon.
				div.row
					a( target='_blank' href='' ).button Mint now
					a( target='_blank' href='' ).button.outline View on Opensea

			//- section#usps
			//- 	div.usp
			//- 		p 🕶
			//- 		p Unique visors & helmets
			//- 	div.usp
			//- 		p 👔
			//- 		p Unique suits
			//- 	div.usp
			//- 		p 🏔
			//- 		p Unique backdrops
			//- 	div#ctabuttons
			//- 		//- a( href='/' ) Mint now
			//- 		//- a( href='/' ) View on Opensea
			//- 		p Launching Soon™️

			//- section#cta
			//- 	+cimg.circle#compressed( size=200 src=site.system.url+'/assets/adam-miller-dBaz0xhCkPY-unsplash-cropped.jpg' )
			//- 	a( href='/' ) Mint now
			//- 	//- p Launching Soon™️

			section#credits
				h1 Acknowledgements

				div.row.usps
					div.usp
						+cimg.circle( size=200 src=site.system.url+'/assets/adam-miller-dBaz0xhCkPY-unsplash-cropped.jpg' )
						p NFT design components by unvetica.eth and team.
					div.usp
						+cimg.circle( size=200 src=site.system.url+'/assets/adam-miller-dBaz0xhCkPY-unsplash-cropped.jpg' )
						p Contract, frontend and API code by mentor.eth
					div.usp
						+cimg.circle( size=200 src=site.system.url+'/assets/adam-miller-dBaz0xhCkPY-unsplash-cropped.jpg' )
						p Logistical support by LookingForOwls and colfax
				p Photos taken by Mike Kiev and Adam Miller. Illustrations by Katerina Limpitsouni.


			section#about
				h1 About this project
				p This is a Rocketpool community inspired initiative to fill the void between the present and mainnet.
				p We all hope to look back 10 years from now at our Rocketeers and remember the days when we asked silly questions like wen mainnet and wen moon.

		include pug/_footer.pug