//- --------------------------------
//- HiPew settings
//- --------------------------------

//- This is pace-specific metadata
-
	const page = {
		title: 'Rocketeer NFT', desc: 'Mint your Rocketeer NFT', url: '/',
		published: '2020-02-11', featuredimg: '/assets/mike-kiev-Opzk_hvwO9Q-unsplash.jpg'
	}
//- This is a file with helpers
include pug/_helpers.pug


//- --------------------------------
//- Webpage source code
//- --------------------------------

doctype html
html( lang=content.lang )
	include pug/_header.pug
	body#index
		
		main
			section#hero
				h1 Rocketeer NFT
				//- h1 30 Oct 2021
				h2 Moon boots touch the earth.<br/>
					| Visored faces tilt upward. <br/>
					| Their sole thought is wen.

				div.row
					a( target='_blank' href='https://mint.rocketeer.fans/' ).button Mint now
					a.button.shadow.invert( href="https://opensea.io/collection/rocketeer-v2" ) View on Opensea
				
				//- p Launching Soon™️
				+rimg.stretch( src=site.system.url+'/assets/draft-rocketeer.png' )

			section#manage
				h1 Manage your Rocketeers
				p If you own a Rocketeer, you are entitled to the @verified-hodler status on Discord.
				p If you are also a Rocketpool node operator you can associate a Rocketeer with your validator on the <a target="_blank" href="https://www.rp-metrics-dashboard.com/">Rocketpool metrics dashboard</a>.
				br
				div.row
					a( target='_blank' href='https://mint.rocketeer.fans/#/verify' ).button.outline Verify your ownership
					a( target='_blank' href='https://mint.rocketeer.fans/#/avatar' ).button.outline Set your validator avatar

			section#story
				+cimg.circle( size=200 src=site.system.url+'/assets/draft-rocketeer.png' )
				p Until minted, each Rocketeer exists in a quantum superposition of many possible identities. They are each unique, but share a foundational desire to reach the moon.
				div.row
					a( target='_blank' href='https://mint.rocketeer.fans/' ).button Mint now
					a.button.shadow.outline( href="https://opensea.io/collection/rocketeer-v2" ) View on Opensea


			section#community
				h1 Community
				p Join us for questions, conversations, and suggestions.
				a( href="https://discord.gg/svyt893uch" )
					img( width=100 height=100 src="/assets/discord-logo-black.svg" )
				a( href="https://discord.gg/svyt893uch" ).button.outline Join on Discord

			section#credits
				h1 Acknowledgements

				div.row.usps
					div.usp
						+cimg.circle( size=200 src=site.system.url+'/assets/76.jpg' )
						p NFT design components by unvetica.eth and team.
					div.usp
						+cimg.circle( size=200 src=site.system.url+'/assets/362.jpg' )
						p Contract, interface and oracle code by mentor.eth.
					div.usp
						+cimg.circle( size=200 src=site.system.url+'/assets/draft-rocketeer.png' )
						p Logistical support by LookingForOwls and colfax.


			section#about
				h1 FAQ

				h2 What does a Rocketeer cost?
				p Minting will be free (besides gas costs).

				h2 What is the supply cap?
				p The diameter of the moon in kilometers: 3475.

				h2 Which attributes do Rocketeers have?
				p They will have a variety of helmets, visors, suits and backdrops. Each with multiple color options.

				h2 Do Rocketeers have utility?
				p Rocketeers are collectibles, and the ETH2 staking communities are integrating them in community projects. Also, let's just say that when two Rocketeers love each other very much, they sometimes make little Rocketeers...

				h2 How random are Rocketeers?
				p The attributes have weighted probabilities. Upon mint a random number generator probablistically determines the attributes.

				h2 What inspired the Rocketeer NFT?
				p The undying patience and excited optimism of the Rocket Pool and ETH2 staking communites.

				h2 What media are available for the Rocketeers?
				p Each Rocketeer have a scalable vector file so you can use the art on any size medium. We will also supply jpegs so you can easily use them for your online identities.


			

		include pug/_footer.pug